---
import Layout from "../../../layouts/Layout.astro";
import { Container } from "../../../components/common/Container";
import { Button } from "../../../components/common/Button";
import { AddToCart } from "../../../components/cart/AddToCart";
import { medusa } from "../../../lib/medusa";
import type { StoreProduct } from "@medusajs/types";
import ProductShell from "../../../modules/product/components/ProductShell";

export async function getStaticPaths() {
  let products: StoreProduct[] = [];
  try {
    const res = await medusa.store.product.list({
      fields:
        "*variants.calculated_price,+variants.inventory_quantity,+metadata,+tags,+product_description.*",
    });
    products = res.products;
  } catch (e) {
    console.error("Failed to fetch products for paths", e);
  }

  return products.map((product) => ({
    params: { slug: product.handle },
    props: { product },
  }));
}

const { product } = Astro.props;

const features = (product.metadata?.features as string[]) || [
  "Premium Quality",
  "Sustainable Materials",
  "Handcrafted",
];
---

<Layout title={`${product.title} - Tiny Explorer`}>
  <div class="py-12 bg-white">
    <ProductShell client:load product={product} />
  </div>
</Layout>
