---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy Policy - Tiny Explorer">
  <div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900 mb-8">Privacy Policy</h1>
    
    <div class="space-y-6 text-gray-700 leading-relaxed">
      <div class="space-y-4">
        <p>
          <span class="font-bold">1.</span> M/s. TINYEXPLORER CREATIONS LLP, a Limited Liability Partnership incorporated under the laws of India, having its registered office at 30/306, Monalisa Wing B, Manjalpur Vadodara – 390011, Gujarat, India (herein after referred to as "Company"). Operates <a href="https://tinyexplorer.in" class="text-indigo-600 hover:text-indigo-500">https://tinyexplorer.in</a> and its mobile and tablet applications (herein after collectively referred to as "Platforms"), which inter alia facilitates the purchase of toys, electronics, furniture and such other products sold by the Company under the brand "Cosmos" – "Tiny Explorer" and other well-known brands ("Products") to the users of the Platforms ("Users").
        </p>

        <p>
          <span class="font-bold">2.</span> A condition of each User's use of and access to the Platforms and to other services provided by the Company to Users (collectively referred to as the Services is his/her/its acceptance of the terms of use which also involves acceptance of the terms of this Privacy Policy. Any user who does not agree with any provisions of the Terms of Use or this Privacy Policy is advised not to accept the Terms of Use and may leave the Platforms. The Privacy Policy shall bind every User who accesses or uses the Platforms. The company shall not use the User's information in any manner except as provided under this Privacy Policy.
        </p>

        <p>
          <span class="font-bold">3.</span> This "Privacy Policy" together with the terms of use, describes the company's policies and procedures on the collection, use and disclosure of the information provided by Users and Visitors (as defined herein below) of the Platforms.
        </p>

        <p>
          <span class="font-bold">4.</span> This Privacy Policy sets out the type of information collected from the Users, including the nature of the sensitive personal data or information, the purpose, means and modes of usage of such information and how and to whom the Company shall disclose such information.
        </p>

        <p>
          <span class="font-bold">5.</span> This Privacy Policy is published pursuant to:
          <br>a) Section 43A of the Information Technology Act, 2000;
          <br>b) Regulation 4 of the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Information) Rules, 2011 ("SPI Rules") and
          <br>c) Regulation 3(1) of the Information Technology (Intermediaries Guidelines) Rules, 2011.
        </p>

        <p>
          <span class="font-bold">6.</span> The Privacy Policy applies to information collected and processed by the Company consisting of the following:
          <br><strong>a)</strong> Personal information is information related to a Visitor, or a combination of pieces of information that could reasonably allow him to be identified. Personal information may consist of full name, unique contact number(s), residential address, email address, gender and date of birth.
          <br><strong>b)</strong> Sensitive personal data or information is such personal information that is collected, received, stored, transmitted or processed by the Company, consisting of:
          <ul class="list-disc pl-10 mt-2 space-y-1">
            <li>Password</li>
            <li>Financial information such as bank account or credit card or debit card or other payment instrument details.</li>
            <li>Physical, physiological and mental health condition.</li>
            <li>Sexual orientation.</li>
            <li>Medical records and history.</li>
            <li>Biometric information.</li>
            <li>Any detail relating to the above personal information categories as provided to the Company for availing Service and/or purchase Products from The Company; and</li>
            <li>Any of the information received under the above personal information categories by the Company for processing, stored or processed under lawful contract or otherwise.</li>
          </ul>
        </p>

        <p>
          <span class="font-bold">7.</span> Please note that any information that is freely available or accessible in the public domain or furnished under the Right to Information Act, 2005 or any other law for the time being in force shall not be regarded as sensitive personal information.
        </p>

        <p>
          <span class="font-bold">8.</span> While browsing the Platforms, a User is not required to provide personal information as set out under paragraph 6 until and unless such User chooses to avail or sign up for any of the Services. All the information provided to the Company by a User, including personal information and personally identifiable information, is voluntary. The User has the right to request the withdrawal of his/her/its consent at any time, in accordance with the terms of this Privacy Policy and the Terms of Use. The User must ensure strict caution while giving out any personally identifiable information about himself/herself/her or their family members in use of any of the Services.
        </p>

        <p>
          <span class="font-bold">9.</span> Users can access, modify, correct and eliminate the data about him/her/it which has been collected pursuant to his/her/its decision to become a User. Any grievances in relation to the information shared by the User with the Company may be brought to the attention of the grievance officer in accordance with paragraph 33 of this Privacy Policy.
        </p>

        <p>
          <span class="font-bold">10.</span> For the use of the Services and purchase of Products, you may be required to pay the Company with a credit card, wire-transfer, or debit card through the Company’s third party payment gateway provider, and such third party payment gateway provider may be required to collect certain financial information from you including, but not restricted to, your credit/debit card number or your bank account details (collectively referred to as “Financial Information”). The verification of the Financial Information shall be accomplished only by the User through a process of authentication which is under complete control of the Company’s third-party payment gateway providers alone. All Financial Information collected from the Users’ by the Company’s third-party payment gateway providers will be used only for billing and payment processes.
        </p>

        <p>
          <span class="font-bold">11.</span> Personal information, personally identifiable information and / /or Financial Information shall be collected by the Company on an ongoing basis, without need for further, separate consent from the User (aside from the acceptance of this Privacy Policy, as provided in paragraph 2) for one or more of the following reasons:
          <ul class="list-disc pl-10 mt-2 space-y-1">
             <li>a) to identify the User, to understand his/her/its needs and resolve disputes, if any.</li>
             <li>b) to set up, manage and offer Products products and to enhance the Services to meet the User's User‘s requirements.</li>
             <li>c) to provide ongoing service.</li>
             <li>d) to meet legal and regulatory requirements.</li>
             <li>e) to resolve technical issues and troubleshoot problems.</li>
             <li>f) to collect money from Users for transactions carried out on the Platforms.</li>
             <li>g) to keep Users apprised of the Company's Company‘s (or third parties’parties‘) promotions and offers.</li>
             <li>h) to customize User experience.</li>
             <li>i) to detect and protect the Company from error, fraud and other criminal activities.</li>
             <li>j) to enforce the Terms of Use; and</li>
             <li>k) other reasons which, prior to being put into effect, shall be communicated to Public including the Users through an update carried out to this Privacy Policy.</li>
          </ul>
        </p>

        <p>
          <span class="font-bold">12.</span> The Financial Information collected from the Users is transacted through secure digital platforms of approved payment gateways which are under encryption, thereby complying with reasonably expected technology standards. While the Company shall make reasonable endeavours to ensure that the User's User‘s personal information and the Financial Information is duly protected by undertaking security measures prescribed under applicable laws, the User is strongly advised to exercise discretion while providing personal information or Financial Information while using the Services given that the Internet is susceptible to security breaches.
        </p>
        
        <p>
           <span class="font-bold">13.</span> Due to the communications standards on the Internet, when a User visits the Platforms, the Company automatically receives the uniform resource locator of the site from which such User visits the Platforms, details of the website such User is visiting on leaving the Platforms, the internet protocol (“IP“) address of each User‘s computer operating system, type of web browser the User is using, email patterns, and the name of the User‘s internet service provider. This information is used solely to analyse overall User trends and to help the Company in improving its Services. Please note that the link between the User‘s IP address and the User‘s personally identifiable information is not shared with third parties without such User‘s permission or except when required by law or to provide or facilitate the User with the Services. Notwithstanding the above, the User acknowledges the  Company‘s right to share some of the aggregate findings, including the personal information provided by the Users in an unidentifiable form, and not the specific data with advertisers, sponsors, investors, strategic partners, and others in order to help grow the business. The amount of information sent to the Company depends on the settings of the web browser used by the User to access the Platforms. The User may refer to the browser used, if the User wishes to learn what information is provided to the Company.
        </p>
        
         <p>
          <span class="font-bold">14.</span> The Platforms use temporary cookies to store certain data. The Company does not store personally identifiable information in the cookies. Information collected by the Company, by any means whatsoever, that does not personally identify the User as an individual (such as patterns of utilization described above) is exclusively owned by the Company and may be used by the Company and third-party service providers for technical administration of the Platforms, user administration, research, development, and other purposes. Additionally, the Company may sell or otherwise transfer such research, statistical or intelligence data in an aggregated or non-personally identifiable form to its parent company, group companies, subsidiaries, associates, affiliates, suppliers, vendors, sister concerns, service providers and service partners and other third parties (collectively referred to as “Other Parties“).
        </p>
        
        <p>
           <span class="font-bold">15.</span> A User may set or amend his/her/its web browsers to delete or disable cookies. If a User chooses to disable cookies on his/her/its computer or mobile telecommunication device, it may impair, degrade or restrict access to certain areas of the Platforms. Merely closing the web browser should ordinarily clear all temporary cookies installed by the Company. However, Users are encouraged to use the “clear cookies “ functionality of their browsers to ensure deletion, as the Company cannot guarantee, predict or provide for the behavior of the equipment of all the Users of the Platforms. You can learn more about the type of cookies that the Platforms may use during your visit, in the Paragraph 34.
        </p>
        
        <p>
          <span class="font-bold">16.</span> The Company may allow other companies or entities to serve advertisements to Users. These companies or entities include third party advertisement servers, advertisement agencies, advertisement technology vendors and research firms. The Company may target some advertisements to Users that fit a certain general profile. The Company does not use personally identifiable information to target advertisements to specific Users. In the course of serving advertisements or optimizing the Services to its Users, the Company may allow authorised third parties to place or recognize a unique cookie on the User‘s browser.
        </p>
      </div>
    </div>
  </div>
</Layout>
