---
export const prerender = false;

import { Container } from "@/components/common/Container";
import AccountLayout from "@/layouts/AccountLayout.astro";
---

<AccountLayout title="Addresses">
  <!-- <Container> -->
  <div class="text-3xl">Coming soon</div>
  <!-- </Container> -->
</AccountLayout>
